{% extends 'base.html.twig' %}
{% block body %}
<h1>Découvrez nos dernières actualités !</h1>
<div id="posts-zone">
    {% for post in posts %}
        {%
            include "_partials/_post_card.html.twig"
            with {
                'title' : post.title,
                'summary' : post.summary,
                'created_at' : post.createdAt|date("d/m/Y"),
                'author' : post.author.nickname,
                'href' : path('app_see_post', {slug: post.slug})
            }
        %}
    {% endfor %}
</div>
{% endblock %}